.form-container {
  background-color: #52abae;
  width: 70%;
  padding: 50px 30px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#name,
#email,
#role,
button {
  font-family: "Poppins", sans-serif;
  border: none;
}

#name,
#email {
  width: 60%;
  border-radius: 15px;
  padding: 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#role {
  width: 220px;
  border-radius: 15px;
  padding: 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button {
  border-radius: 30px;
  padding: 10px 20px;
  margin-top: 20px;
  color: white;
  background-color: #376e6f;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.5s ease;
}

button:hover {
  background-color: white;
  color: #376e6f;
}
